<!-- <h2 mat-dialog-title>Appointment Details</h2>

<mat-dialog-content class="mat-typography">

  <mat-card>

    <mat-card-content>

      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="vehicle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle</th>
          <td mat-cell *matCellDef="let appointment">{{ appointment.vehicle.model }}</td>
        </ng-container>

        <ng-container matColumnDef="garage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Garage</th>
          <td mat-cell *matCellDef="let appointment">{{ appointment.garage.name }}</td>
        </ng-container>

        <ng-container matColumnDef="dateOfArrival">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Arrival</th>
          <td mat-cell *matCellDef="let appointment">{{ appointment.dateOfArrival }}</td>
        </ng-container>

        <ng-container matColumnDef="mileage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mileage</th>
          <td mat-cell *matCellDef="let appointment">{{ appointment.mileage }}</td>
        </ng-container>

        <ng-container matColumnDef="diagnosis">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Diagnosis</th>
          <td mat-cell *matCellDef="let appointment">{{ appointment.diagnosis }}</td>
        </ng-container>

        <ng-container matColumnDef="dateOfPickup">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Pickup</th>
          <td mat-cell *matCellDef="let appointment">{{ appointment.dateOfPickup }}</td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
          <td mat-cell *matCellDef="let appointment">{{ appointment.created }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      </table>

    </mat-card-content>

  </mat-card>

</mat-dialog-content> -->

{{appointmentDetails.created}}