<mat-card *ngIf="appointmentDetails != undefined && appointmentDetails.vehicle != undefined">

    <mat-card-header>
        <mat-card-title>Appointment Details</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <mat-card>

            <mat-card-header>
                <mat-card-title>Vehicle Details</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>Vin : {{ appointmentDetails.vehicle.vin }}</p>
                <p>Model : {{ appointmentDetails.vehicle.model }}</p>
                <p>Date of Manufacture : {{ appointmentDetails.vehicle.dateOfManufacture | date:'dd/MM/YYYY' }}</p>
            </mat-card-content>

        </mat-card>

        <mat-divider></mat-divider>

        <mat-card *ngIf="isLoggedIn() && isOwner()">

            <mat-card-header>
                <mat-card-title>Garage Details</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>Name : {{ appointmentDetails.garage.name }}</p>
                <p>Phone : {{ appointmentDetails.garage.phone }}</p>
                <p>Address : {{ appointmentDetails.garage.address }}</p>
            </mat-card-content>

        </mat-card>

        <mat-card *ngIf="isLoggedIn() && isGarage()">

            <mat-card-header>
                <mat-card-title>Owner Details</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>First Name : {{ appointmentDetails.owner.firstname }}</p>
                <p>Last Name : {{ appointmentDetails.owner.lastname }}</p>
                <p>Phone : {{ appointmentDetails.owner.phone }}</p>
            </mat-card-content>

        </mat-card>

        <mat-divider></mat-divider>

        <mat-list>

            <mat-list-item>
                <span matListItemTitle>Date of Arrival</span>
                <span matListItemLine>{{ appointmentDetails.dateOfArrival | date:'dd/MM/YYYY' }}</span>
            </mat-list-item>

            <mat-list-item>
                <span matListItemTitle>Mileage</span>
                <span matListItemLine>{{ appointmentDetails.mileage }}</span>
            </mat-list-item>

            <mat-list-item>
                <span matListItemTitle>Diagnosis</span>
                <span matListItemLine>{{ appointmentDetails.diagnosis }}</span>
            </mat-list-item>

            <mat-list-item>
                <span matListItemTitle>Crashed</span>
                <span matListItemLine>
                    <mat-checkbox [checked]="appointmentDetails.vehicle.crashed" [disabled]="true"></mat-checkbox>
                </span>
            </mat-list-item>

            <mat-list-item>
                <span matListItemTitle>Date of Pickup</span>
                <span matListItemLine>{{ appointmentDetails.dateOfPickup | date:'dd/MM/YYYY' }}</span>
            </mat-list-item>

            <mat-list-item>
                <span matListItemTitle>Created</span>
                <span matListItemLine>{{ appointmentDetails.created | date:'dd/MM/YYYY' }}</span>
            </mat-list-item>

        </mat-list>

    </mat-card-content>

</mat-card>